<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Exemplos Vue JS</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <h2>Interpolação de Texto</h2>
            {{ mensagem }}
        </div>
        <div>
            <h2>Interligar atributos dinamicamente</h2>
            <div id="app-2">
                <span v-bind:title="mensagem">
                    Pare o mouse sobre mim e veja a dica interligada dinamicamente!
                </span>
            </div>
        </div>
        <div id="app-3">
            <h2>Condicionais</h2>
            <p v-if="seen">Agora você me viu</p>
        </div>
        <div id="app-4">
            <h2>Laço de Repetição</h2>
            <ol>
                <li v-for="todo in todos">
                    {{ todo.text }}
                </li>
            </ol>
        </div>
        <div id="app-5">
            <h2>Interação do Usuário, ações e função</h2>
            <p>{{ mensagem }}</p>
            <button v-on:click="inverter()">Inverter Mensagem</button>
        </div>
        <div id="app-6">
            <h2>Interligação e mão dupla (two-way binding)</h2>
            <p>{{ mensagem }}</p>
            <input type="text" v-model="mensagem" />
        </div>
        <div id="app-7">
            <h2>Implementação de componente</h2>
            <ol>
                <todo-item
                    v-for="item in listaDeCompras"
                    v-bind:todo="item"
                    v-bind:key="item.id"
                    >
                </todo-item>
            </ol>
        </div>
        <script src="main.js"></script>
    </body>
</html>
